[mysqld]
# Đặt mã hóa mặc định là utf8mb4 để hỗ trợ Emoji và nhiều ngôn ngữ
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# (Tùy chọn) Chỉnh timezone ở mức MySQL server thay vì OS timezone
# default-time-zone='+07:00'

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
